* {
  font-family: "Hammersmith One", sans-serif;
}
body {
  background-image: url("https://i.stack.imgur.com/wEtyR.jpg");
}
.navbar {
  padding-left: 100px;
  padding-right: 100px;
  z-index: 1;
  width: 100%;
  top: 0;
  position: fixed !important;
  background-color: rgba(12, 12, 12, 0.527);
  backdrop-filter: blur(4px);
}

.lateralad {
  position: sticky;
  right: 50px;
  top: 10%;
  cursor: pointer;
}
.lateraladsx {
  position: sticky;
  left: 50px;
  top: 10%;
  cursor: pointer;
}

.card {
  margin-top: 10vh;
}
h2 {
  color: white;
}

span {
  background-color: #312d31;
  font-size: 20px;
  font-weight: 800;
}
video {
  height: 400px;
  width: 400px;
}
.bd-example {
  margin-top: 15vh;
}
.list-group-item {
  background-color: rgba(92, 89, 89, 0.274) !important;
  color: white;
  border-radius: 0 !important;
}
@media screen and (max-width: 1800px) {
  .lateraladsx {
    display: none;
    z-index: 1;
  }
  .h2tomove {
    margin-top: 100px;
  }
}
@media screen and (max-width: 100px) {
  .h2tomove {
    margin-top: 100px;
  }
}
footer {
  color: white;
  margin-top: 30vh;
}
.linkf {
  color: white;
  text-decoration: none;
}
.linkf:hover {
  color: rgb(173, 11, 11);
}
.search-result {
  display: flex;
  justify-self: start;
  height: 40px;
}
.searchResults {
  z-index: 10;
  color: white;
  position: fixed;
  border-radius: 10px;
  top: 57px;
  right: 100px;
  width: 300px;
  height: auto;
  background-color: rgba(39, 38, 37, 0.603);
  backdrop-filter: blur(4px);
}
.searchDiv {
  color: white;
  padding: 10px;
}
.searchDiv:hover {
  background-color: rgba(77, 78, 78, 0.555);
  backdrop-filter: blur(4px);
}
